<template name="views_crosschain_erc20_main">

    <h1 class="account-h1">
        <div class="circle"></div>
        <strong>Crosschain</strong>

        <div class="dapp-header-map">
            <div class="home-link">
                <a href="{{pathFor route='dashboard'}}"><img/></a>
            </div>
            <span style="top: 4px;">&nbsp;>&nbsp;CROSSCHAIN</span>
        </div>
    </h1>

    <nav class="crosschain-nav">
        <ul style="float: left;">

            <li>
                <a class="history" style="
                    {{#if $eq ($.Session.get "clickButton") 1}}
                    color: #737B93;
                    {{/if}}
                        ">
                    <span >Transaction history</span>
                </a>
                <div class="bottomBor" style="
                    {{#if $eq ($.Session.get "clickButton") 1}}
                    display: block;
                    {{/if}}
                        "></div>
            </li>

            <li>
                <a class="toWeth" style="
                    {{#if $eq ($.Session.get "clickButton") 2}}
                    color: #737B93;
                    {{/if}}
                        ">
                    <span>{{getSymbol}}({{chainType}}) >> {{getWSymbol}}(WAN)</span>
                </a>
                <div class="bottomBor" style="
                    {{#if $eq ($.Session.get "clickButton") 2}}
                    display: block;
                    {{/if}}
                        "></div>
            </li>

            <li>
                <a class="toWan" style="
                    {{#if $eq ($.Session.get "clickButton") 3}}
                    color: #737B93;
                    {{/if}}
                        ">
                    <span>{{getWSymbol}}(WAN) >> {{getSymbol}}({{chainType}})</span>
                </a>
                <div class="bottomBor" style="
                    {{#if $eq ($.Session.get "clickButton") 3}}
                    display: block;
                    {{/if}}
                        "></div>
            </li>

            <li>
                <a class="toNormal" style="
                    {{#if $eq ($.Session.get "clickButton") 4}}
                    color: #737B93;
                    {{/if}}
                    ">
                    <span>Normal transaction</span>
                </a>
                <div class="bottomBor"
                     style="
                         {{#if $eq ($.Session.get "clickButton") 4}}
                         display: block;
                         {{/if}}
                             "
                     ></div>
            </li>

        </ul>
    </nav>

    {{#if $eq ($.Session.get "clickButton") 1}}
        {{> views_crosschain_erc20 chainType=chainType symbol=getSymbol tokenOrigAddr=tokenOrigAddr tokenWanAddr=tokenWanAddr }}
    {{/if}}

    {{#if $eq ($.Session.get "clickButton") 2}}
        {{> views_erc20Towerc20 chainType=chainType symbol=getSymbol tokenOrigAddr=tokenOrigAddr}}
    {{/if}}

    {{#if $eq ($.Session.get "clickButton") 3}}
        {{> views_werc20Toerc20 chainType=chainType symbol=getSymbol tokenOrigAddr=tokenOrigAddr tokenWanAddr=tokenWanAddr }}
    {{/if}}

    {{#if $eq ($.Session.get "clickButton") 4}}
        {{> views_erc20send}}
    {{/if}}

</template>
