<template name="views_modals_storepassword">
    <h2 style="color: orangered; background-color: white">{{TemplateVar.get "warningText"}}</h2>
    {{#if listRedeem}}
    <h3>{{TemplateVar.get "redeemText"}}</h3>
    <div class="from-container">
        {{#each listRedeem}}
        <div class="com-container" id="{{id}}">
            <button class="closeBtn" id="{{btnId}}">×</button>
            <table class="com-table">
                <tr>
                    <td>{{index}}</td>
                    <td>{{time}}</td>
                </tr>
                <tr>
                    <td>Amount:</td>
                    <td>{{amount}} {{symbol}}</td>
                </tr>
                <tr>
                    <td>From:</td>
                    <td>{{from}}</td>
                </tr>
                <tr>
                    <td>To:</td>
                    <td>{{to}}</td>
                </tr>
            </table>
            <input class="com-input" type="password" placeholder="{{inputText}}" />
        </div>
        {{/each}}
    </div>
    {{/if}}

    {{#if listRevoke.length}}
    <h3>{{TemplateVar.get "revokeText"}}</h3>
    <div class="from-container">
        {{#each listRevoke}}
        <div class="com-container" id="{{id}}">
            <button class="closeBtn" id="{{btnId}}">×</button>
            <table class="com-table">
                <tr>
                    <td>{{index}}</td>
                    <td>{{time}}</td>
                </tr>
                <tr>
                    <td>Amount:</td>
                    <td>{{amount}} {{symbol}}</td>
                </tr>
                <tr>
                    <td>From:</td>
                    <td>{{from}}</td>
                </tr>
                <tr>
                    <td>To:</td>
                    <td>{{to}}</td>
                </tr>
            </table>
            <input class="com-input" type="password" placeholder="{{inputText}}" />
        </div>
        {{/each}}
    </div>
    {{/if}}


    <div class="dapp-modal-buttons">
        <button class="cancel-cross" disabled="{{TemplateVar.get "isButton"}}">CANCEL</button>
        <button class="ok-cross dapp-primary-button" disabled="{{TemplateVar.get "isButton"}}">OK</button>
    </div>
</template>
